<body>
    <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" formControlName="username">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password">
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
        </form>
        <hr>
        <!-- @if (errorMessage) {
        <div class="text-center text-danger mt-2">
            {{ errorMessage }}
        </div>
        } -->
        <div *ngIf="errorMessage" class="text-center text-danger mt-2">{{ errorMessage }}</div>
    </div>
</body>