<html>
    <body cz-shortcut-listen="true" class="pace-done "><div class="pace pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
        <div class="pace-progress-inner"></div>
      </div>
      <div class="pace-activity"></div></div>
              <div class="custom-loading-screen sr-only">
          <div class="loading-container">
              <div class="sk-cube-grid">
                  <div class="sk-cube sk-cube1"></div>
                  <div class="sk-cube sk-cube2"></div>
                  <div class="sk-cube sk-cube3"></div>
                  <div class="sk-cube sk-cube4"></div>
                  <div class="sk-cube sk-cube5"></div>
                  <div class="sk-cube sk-cube6"></div>
                  <div class="sk-cube sk-cube7"></div>
                  <div class="sk-cube sk-cube8"></div>
                  <div class="sk-cube sk-cube9"></div>
              </div>
          </div>
      </div>		
        <div id="page-404" class="container-fluid">
            <section class="row justify-content-center">
                <div class="col-xl-6 col-md-7 col-9">
                    <div class="card bg-transparent shadow-none mt-4">
                        <div class="card-body text-center bg-transparent">
                            <h1 class="error-title">Page Not Found :(</h1>
                            <p class="pb-3">we couldn't find the page you are looking for</p>
                            <img class="img-fluid m-auto" src="/assets/theme-style/img/404.png" alt="404 error">
                            <br>
                            <a href="http://localhost:4200" class="btn btn-danger round glow mt-3"><i class="bx bx-left-arrow-alt"></i> Back</a>
                            <a href="http://localhost:4200" class="btn btn-secondary round glow mt-3"><i class="bx bx-home-alt"></i> Home</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>
  