@import 'typeface-rubik/index.css';

@font-face {
    font-family: 'Khmer OS Battambang';
    src: url('/assets/theme-style/fonts/KhmerOSbattambang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rubik', 'Khmer OS Battambang', sans-serif;
}

table.dataTable thead > 
tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-ordering-desc span.dt-column-order:after {
    font-size: .5em;
}

table.dataTable thead > 
tr > th div.dt-column-header span.dt-column-title, table.dataTable thead > 
tr > th div.dt-column-footer span.dt-column-title, table.dataTable thead > 
tr > td div.dt-column-header span.dt-column-title, table.dataTable thead > 
tr > td div.dt-column-footer span.dt-column-title, table.dataTable tfoot > 
tr > th div.dt-column-header span.dt-column-title, table.dataTable tfoot > 
tr > th div.dt-column-footer span.dt-column-title, table.dataTable tfoot > 
tr > td div.dt-column-header span.dt-column-title, table.dataTable tfoot > 
tr > td div.dt-column-footer span.dt-column-title {
    text-transform: uppercase;
}