@import 'typeface-rubik/index.css';

@font-face {
    font-family: 'Khmer OS Battambang';
    src: url('/assets/theme-style/fonts/KhmerOSbattambang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rubik', 'Khmer OS Battambang', sans-serif;
}

table.dataTable thead > 
tr > th.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > 
tr > th.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > 
tr > th.dt-ordering-desc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-orderable-asc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-orderable-asc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-orderable-desc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-orderable-desc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-ordering-asc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-ordering-asc span.dt-column-order:after, table.dataTable thead > 
tr > td.dt-ordering-desc span.dt-column-order:before, table.dataTable thead > 
tr > td.dt-ordering-desc span.dt-column-order:after {
    font-size: .5em;
}

table.dataTable thead > 
tr > th div.dt-column-header span.dt-column-title, table.dataTable thead > 
tr > th div.dt-column-footer span.dt-column-title, table.dataTable thead > 
tr > td div.dt-column-header span.dt-column-title, table.dataTable thead > 
tr > td div.dt-column-footer span.dt-column-title, table.dataTable tfoot > 
tr > th div.dt-column-header span.dt-column-title, table.dataTable tfoot > 
tr > th div.dt-column-footer span.dt-column-title, table.dataTable tfoot > 
tr > td div.dt-column-header span.dt-column-title, table.dataTable tfoot > 
tr > td div.dt-column-footer span.dt-column-title {
    text-transform: uppercase;
    color: #ffffffd1;
}

label {
    font-size: 14px;
    color: #475f7b;
}

.dt-info{
    font-size: 14px;
    color: #475f7b !important;
}

.btn-sm {
    padding: 2px 6px;
    border-radius: 5px;
}

/* Ensure table takes full width */
table.dataTable {
    width: 100% !important;
    margin: 0 !important;
}
  
/* Style for the table header */
table.dataTable > thead > tr > th, table.dataTable > thead > tr > td {
    padding: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    background-color: #475f7b;
    font-size: 14px;
}

table.dataTable > tbody > tr > th, table.dataTable > tbody > tr > td {
    padding: 4px 8px;
    font-size: 14px;
    color: #475f7b;
}

table.dataTable {
    border: none;
}

table.dataTable th, table.dataTable td {
    border: none;
}

.table-bordered > :not(caption) > * {
    border-width: 0;
}

div.dt-container select.dt-input {
    padding: 2px;
    border-radius: 5px;
}

div.dt-container .dt-search input {
    padding: 2px;
    border-radius: 5px;
}

/* Pagination buttons */
div.dt-container .dt-paging .dt-paging-button {
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #475f7b !important;
    border: 1px solid #ddd;
    border-radius: 5px;
}

div.dt-container .dt-paging .dt-paging-button:hover {
    background: none !important;
    color: #475f7b !important;
    border: 1px solid #475f7b;
    border-radius: 5px;
}

/* Current page indicator */
div.dt-container .dt-paging .dt-paging-button.current, div.dt-container .dt-paging .dt-paging-button.current:hover {
    background-color: #4e73df !important;
    color: white !important;
    border-radius: 5px;
}

.btn.btn-sm.btn-icon {
    padding: 0.1rem 0.3rem;
}

.btn {
    font-size: 14px;
}

div.dt-buttons {
    flex: 1;
}

div.dt-buttons > .dt-button, div.dt-buttons > div.dt-button-split .dt-button{
    border: none;
    font-weight: bold;
    padding: .2em .01em;
    font-size: .80em;
    color: #475f7b;
    background: none;
}

div.dt-buttons > .dt-button:hover:not(.disabled), div.dt-buttons > div.dt-button-split .dt-button:hover:not(.disabled) {
    border: none;
    background: none;
}

.ml-1, .mx-1 {
    margin-left: 0.8rem !important;
}

/* Spinner styling */
.spinner-border {
    width: 3rem;
    height: 3rem;
    margin: 2rem auto;
    display: block;
  }
  
  /* Error message styling */
  .alert-danger {
    margin-top: 1rem;
  }

div:where(.swal2-container).swal2-center>.swal2-popup {
    grid-column: 2;
    grid-row: 2;
    place-self: center center;
    background: #dddfeb;
    color: #475f7b;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .dt-container .dt-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    /* Make the table responsive */
    .dt-container table.dataTable {
        width: 100%;
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}