@import 'typeface-rubik/index.css';

@font-face {
    font-family: 'Khmer OS Battambang';
    src: url('/assets/theme-style/fonts/KhmerOSbattambang.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Rubik', 'Khmer OS Battambang', sans-serif;
}