label {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
}

.table-bordered td, .table-bordered th {
    padding-top: 2px;
    padding-bottom: 2px;
    line-height: 2.4;
    font-size: 0.85rem;
}

.table-bordered input.form-control {
    height: 32px;
    padding: 2px 8px;
    font-size: 0.85rem;
}

.table-bordered select.form-control {
    height: 32px;
    padding: 2px 8px;
    font-size: 14px;
    text-transform: uppercase;
    color: #475f7b;
}

/* Ensure table rows are compact */
.table-bordered tr {
    height: 32px;
}

.table-bordered td, .table-bordered th {
    border: none;
    font-size: 14px;
    color: #475f7b;
}

.table td, .table th {
    border-top: none;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}

.table > :not(caption) > * > * {
    box-shadow: none;
}